* {box-sizing: border-box;}
html, body {
    margin: 0;
    padding: 0;
}
.nav-bar {
    padding: 15px;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: orangered;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    font: 20px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-bar a {
    /* text-align: right; */
    color: white;
    text-decoration: none;
    margin-right: 25px;
}
.logo {
    margin-left: 3%;
    color: white;
    font: 600 25px 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 58%;

}

.alert {
    margin: auto;
    width: 500px;
    text-align: center;
}
.home-container {
    margin-top: 6%;
    /* background-color: aqua; */
}
.form-container {
    margin-top: 8%;
    margin-bottom: 6%;
}
form {
    text-align: center;
    margin: 0% auto;
    height: auto;
    width: 350px;
    border: 3px solid #ddd;
    padding: 15px;

}
.form-container h5 {
    text-align: center;
    font: 16px 'Courier New', Courier, monospace;
    
}
form input, select {
    width: 100%;
    margin: 5px 0 20px;
    border: none;
    outline-color: orangered;
    background-color: #f1f1f1;
    padding: 15px;

}
input::placeholder {
    /* font-weight: 600; */
    font: bold;
    text-transform: capitalize;
}
form button {
    width: 100%;
    padding: 6px;
    color: white;
    font: 600 17px 'Verdana';
    border: none;
    background-color: orangered;

}
.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    background-color: black;
    padding: 10px;

}
footer {
    margin-left: 3%;
    font: 600 12px Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: white;
}

/* image card */
.image-card-container {
    margin: 1% 10% 5% 10%;
    /* display: inline-block; */
}
.image-card {
    height: auto;
    width: 330px;
    display: inline-block;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    border-radius: 0 0 20px;
    background: white;
    padding: 5px;
    margin-right: 1%;
    margin-bottom: 3%;
}
.description {
    font: 17px 'Times New Roman', Times, serif;
    color: black;
    padding: 5px;

}
.image-card img {
    height: 180px;
    width: 320px;
}
.image-card a {
    margin: 1%; margin-left:65%;
    font: 13px Verdana, Geneva, Tahoma, sans-serif;
    border-bottom-right-radius: 10px;

}